body {
    font-family: Roboto, Arial, sans-serif;
}
.header {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right:200px;
}

.top-band {
    display: flex;
    padding-top: 25px;
    align-items: center;
    
}
.top {
    font-size: 28px;
    font-weight: 800;
    flex: 1.7;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.links a:hover {
    color: gray;
}

.title-content {
    display: flex;
    margin-top: 100px;
    padding-bottom: 80px;
    color: #E5E7EB;
}

.title-left {
    flex: 1;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    margin-top: 7px;
    border-radius: 15px;
    border:0;
    height:30px;
    width: 100px;
    color: white;
    font-weight: 700;
}

button a
{
    color: white;
    text-decoration: none;
}

button a:hover {
    color: gray;
}

.title-image {
    width:300px;
    flex: 1;
    margin-left: 40px;
}

.information {
    padding-left:200px;
    padding-right:200px;
    margin-top: 60px;
    margin-bottom: 85px;
}

.information h2 {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 55px;
}

.images {
    display: flex;
    justify-content: space-between;
}
.images img {
    width: 250px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}
.images div p {
    width: 250px;
    text-align: center;
}
